<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InmobiliariaOrtiz_Pascuali</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InmobiliariaOrtiz_Pascuali.styles.css" asp-append-version="true" />
</head>

<body>


    <header class="w-100">
        <div class="container-fluid d-flex flex-row w-100 bg-white">
            <div class="w-50">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width: 155px; height: 60px;" src="~/images/logo.png" alt="Home" />
                </a>
            </div>
            <div class="w-50 d-flex justify-content-end">
                <i class="fa-brands fa-instagram m-3 h3"></i>
                <i class="fa-brands fa-square-facebook m-3 h3"></i>
                <i class="fa-brands fa-youtube m-3 h3"></i>
            </div>
        </div>
        <nav style="background-color: #071658; height: 70px;"
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">

            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex w-100">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Propietario"
                                asp-action="Index">Propietario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Inquilino"
                                asp-action="Index">Inquilino</a>
                        </li>

                        </li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Inmueble"
                            asp-action="Index">Inmueble</a>
                        </li>

                        </li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Contrato"
                            asp-action="Index">Contrato</a>
                        </li>

                        </li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Pago"
                            asp-action="Index">Pago</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="container">
        <footer class="border-top footer text-muted">
            <div class="container text-center text-md-left">
                &copy; 2024 - Inmobiliaria Ortiz Pascuali - San Luis, Argentina
            </div>
        </footer>
    </div>








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
