@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Propietario</h1>
    
    <table class="table">
        
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Dni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dario</td>
      <td>Pascuali</td>
      <td>40485036</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Wilson</td>
      <td>Ortiz</td>
      <td>34567890</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Joaquin</td>
      <td>Ortega</td>
      <td>Indocumentado</td>
    </tr>
  </tbody>
</table>
</div>
