@model Propietario

@{
  ViewData["Title"] = "Home Page";
}

<form asp-action="Insertar">
  <p>Registrar Propietario:</p>
  <div class="form-group">
    <label asp-for="Nombre">Nombre</label>
    <input asp-for="Nombre" type="text" class="form-control" id="" placeholder="Escriba nombre">
  </div>
  <div class="form-group">
    <label asp-for="Apellido">Apellido</label>
    <input asp-for="Apellido" type="text" class="form-control" id=""  placeholder="Escriba Apellido">
  </div>
  <div class="form-group">
    <label asp-for="Dni">Dni</label>
    <input asp-for="Dni" type="text" class="form-control" id=""  placeholder="Escriba dni">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
