@model Contrato

@{
    ViewData["Title"] = "Registrar contrato";
}

<div class="w-100 d-flex justify-content-center">
    <form asp-action="Insertar" class="w-50">
        <p>Registrar contrato:</p>
        <div class="form-group">
           <input asp-for="idContrato" type="text" class="form-control" readonly>
        </div>
        
        <div class="form-group">
            <label class="control-label">Inquilino</label>
            <select class="form-select" asp-for="idInquilino">
                @foreach (var item in ViewBag.Inquilino)
                {
                    <option value="@item.IdInquilino">@item.Apellido @item.Nombre</option>
                }
            </select>
        </div>
       
        <div class="w-100 d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
