@model Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h5 class="m-4 text-center w-100">@ViewData["Title"]</h5>

<div class="container">
    <form asp-action="editar" method="post">
        <input type="hidden" asp-for="IdUsuario" />
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Apellido"></label>
            <input asp-for="Apellido" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Rol"></label>
            <select asp-for="Rol" class="form-control" asp-items="ViewBag.Roles">
                <option value="">Seleccione Rol</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
