@model LoginView

@{
    ViewData["Title"] = "Home Page";
    
}

<div  class="w-100 d-flex justify-content-center">

    <form asp-action="Login" class="d-flex w-50 flex-column align-items-center justify-content-center bg-white p-5 text-dark">
        <span class="text-left w-50 h5">Login</span>
        <span class="text-left w-50 h6 text-muted">Logueate para continuar.</span>
        <input class="text-left w-50 my-3" asp-for="Email" type="email" placeholder="Email">
        <input class="text-left w-50" asp-for="Clave" type="password" placeholder="Contraseña">
        <div class="mt-4 w-50 d-flex justify-content-center ">
            <button type="submit" class="btn btn-primary text-white rounded-0 w-25 shadow-sm">
                Entrar
            </button>
        </div>
        <span class="text-muted  text-center mt-3" style="font-size: 12px">Olvidaste tu Contraseña?</span>
        <p class="text-danger">@ViewBag.Mensaje</p>
    </form>
    


</div>
